*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#conimg{
    width: 33rem;
    position: absolute;
    top: 2rem;
    left: 28rem;
    border-radius: 1rem;
}

h1{
    margin: 0.5rem 2rem;
}

.inftitle{
    margin: 0.5rem 3rem;
    font-size: 1.8rem;
    font-family: MONOSPACE;
}

.inf{
    margin: 0.5rem 5rem;
    font-size: 1.3rem;
    font-family: serif;
}

.information{
    margin: 0rem 2rem;
}

button{
    margin: 1rem 2.5rem;
    width: 9rem;
    height: 2rem;
    border: 1px solid whitesmoke;
    background: rgb(105 105 105);
    border-radius: 4px;
    outline: none;
}

button:active {
    outline: none;
}
button:hover{
    background: #3c3c3c;
}

button a{
    text-decoration: none;
    color: white;
}